.router {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0c52dd;
  padding-block: 1rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  position: relative;
}

.router ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.router li {
  display: inline;
}

.router a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  padding-block: 0.5rem;
}

.router a:hover {
  border-bottom: 2px solid #fff;
}
